*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;

    background:white;

    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo h2{
    color:#00a86b;
}

ul{
    display:flex;
    list-style:none;
    gap:35px;
}

ul li a{
    text-decoration:none;
    color:black;
    font-size:18px;
}

ul li a:hover{
    color:#00a86b;
}

.login-btn{
    padding:10px 25px;

    border:none;

    background:#00a86b;

    color:white;

    border-radius:6px;

    cursor:pointer;
}

/* About Section */

.about-section{
    padding:60px;
}

.about-container{

    max-width:1100px;

    margin:auto;

    display:flex;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 0 20px rgba(0,0,0,0.1);
}

/* Left Side */

.left{

    width:50%;

    padding:50px;

    background:#eef9f4;
}

.left h1{

    color:#00a86b;

    font-size:50px;

    margin-bottom:25px;
}

.left p{

    color:#555;

    line-height:1.8;

    margin-bottom:20px;

    font-size:18px;
}

/* Right Side */

.right{

    width:50%;

    padding:50px;
}

.right h2{

    margin-bottom:25px;

    font-size:30px;
}

.feature-card{

    background:#f5f7fa;

    padding:20px;

    margin-bottom:15px;

    border-left:5px solid #00a86b;

    border-radius:8px;

    font-size:18px;
}